<main>
  <button mat-button color="primary" routerLink="/search">
    <mat-icon>arrow_back</mat-icon> Back to Search
  </button>

  <app-error-msg *ngIf="(userError$ | async) as error" [error]="error" />

  <section class="spinner-container" *ngIf="(userLoading$ | async)">
    <mat-spinner  class="spinner"></mat-spinner>
    <p class="mt-2">Loading User Details...</p>
  </section>

  <ng-container *ngIf="(user$ | async) as user">
    <app-info [user]="user"/>

    <app-repositories 
      [user]="user"
      [repositories]="(repositories$ | async) || []"
      (loadRepositories)="onLoadRepositories($event)" />
  </ng-container>
</main>